


<body>
<div class ="register">

    <form action="" class="Rform">
        <h2>Registration</h2>
        <div class="reg-info">
            <div class="input-box">
                <input type="text"  id="Fname" >
                <label for="Fname">First Name </label>
            </div>

            <div class="input-box">
                <input type="text" name ="Lname" id="Lname" >
                <label for="Lname">Last Name </label>
            </div>

            <div class="input">
                <input type="text" name ="regUser" id="regUser" >
                <label for="regUser">Username</label>
            </div>

            <div class="input-box">
                <input type="text" name ="regPass" id="regPass" >
                <label for="regPass">Password </label>
            </div>

            <div class="input-box">
                <input type="text" name ="C" id="C" >
                <label for="C">Confirm Password </label>
            </div>

            <div class="input">
                <input type="text" name ="Add" id="Add" >
                <label for="Add">Address</label>
            </div>

            <div class="input-box">
                <input type="text" name ="mail" id="mail" >
                <label for="mail">Email</label>
            </div>

            <div class="input-box">
                <input type="text" name ="number" id="number" >
                <label for="number">Contact Number </label>
            </div>
            <input type="submit" value="Register" class ="Rsubmit">
        </div>
        <p>Already have an account?  <a href=""class="already-sign">Sign In.</a></p>
    </form>

</div>





</body>